/*header*/

header {
    background-color: rgb(24, 24, 37);
}

/*Logo*/

picture {
    display: flex;
    justify-content: center;
}

#Logo_principal {
    border-radius: 15px;
    width: 20%;
    height: 10%;
}

/*main*/

main {
    background-color: rgb(24, 24, 37);
    color: ghostwhite;
}

body {
    background-color: rgb(24, 24, 37);
}

section img {
    border-radius: 15px;
    width: 50%;
    opacity: 0.8;
    transition: 1s;
}

section img:hover{
    transition: 1s;
    width: 55%;
    opacity: 1;
}

/*texto*/

#gnome {
    text-align: center;
    color: rgb(166, 218, 149);
}

#budgie {
    text-align: center;
    color: rgb(198, 160, 246);
}

#plasma {
    text-align: center;
    color: rgb(245, 169, 127);
}

p {
    text-align: center;
    color: ghostwhite;
}


ul {
    text-align: center;
}

h1 {
    color: ghostwhite;
    text-align: center;
}

/*botones*/

ul li a {
    text-decoration: none;
}

.boton {
    text-decoration: none;
    border: 2px solid rgb(139, 213, 202);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    background-color: rgb(139, 213, 202);
    color: rgb(17, 17, 27)  
}

.boton a:hover {
    color: rgb(17, 17, 27);
}

li a {
    color: rgb(180, 190, 254);
}

/*section*/

section {
    padding: 3%;
}

/*footer*/

footer {
    background-color: rgb(49, 50, 68);
    padding: 5%;
    border-radius: 15px;
}

.icono {
    justify-content: center;
    width: 30px;
    opacity: 0.3;
    transition: 1s;
}

.icono:hover{
    opacity: 0.9;
    transition: 1s;
}