/*header*/

header {
    background-color: rgb(30, 30, 46);
    border-radius: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*Logo*/

picture {
    display: flex;
    justify-content: center;
}

#Logo_principal {
    border-radius: 15px;
    width: 20%;
    height: 10%;
}

/*main*/

main {
    background-color: rgb(24, 24, 37);
    color: ghostwhite;
}

body {
    background-color: rgb(24, 24, 37);
}

/*imagenes*/

section img {
    border-radius: 15px;
    width: 50%;
    opacity: 0.6;
    transition: 1s;
    filter: grayscale(0.7);
}

#section_1:hover img{
    transition: 1s;
    width: 57%;
    opacity: 1;
    filter: grayscale(0);
}

#section_2:hover img{
    transition: 1s;
    width: 57%;
    opacity: 1;
    filter: grayscale(0);
}

#section_3:hover img{
    transition: 1s;
    width: 57%;
    opacity: 1;
    filter: grayscale(0);
}

/*texto*/

#gnome {
    text-align: center;
    color: rgb(166, 218, 149);
}

#budgie {
    text-align: center;
    color: rgb(198, 160, 246);
}

#plasma {
    text-align: center;
    color: rgb(245, 169, 127);
}

p {
    text-align: center;
    color: ghostwhite;
}

ul {
    text-align: center;
}

h1 {
    color: ghostwhite;
    text-align: center;
}

/*botones*/

ul li a {
    text-decoration: none;
}

.boton {
    text-decoration: none;
    border: 2px solid rgb(139, 213, 202);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    transition: 3.5s;
}

.boton:hover {
    background-color: rgb(139, 213, 202);
    color: rgb(17, 17, 27);
    transition: 500ms;
}

.boton:hover a {
    color: rgb(17, 17, 27);
    transition: 500ms;
}

li a {
    transition: 500ms;
    color: rgb(180, 190, 254);
}

/*section*/

section {
    padding: 3%;
}

/*footer*/

footer {
    background-color: rgb(49, 50, 68);
    padding: 30px;
    border-radius: 15px;
    min-height: 80px;
}

.icono {
    justify-content: center;
    width: 30px;
    opacity: 0.3;
    transition: 250ms;
}

.icono:hover {
    opacity: 0.9;
    width: 40px;
    transition: 250ms;
}

footer ul li {
    text-decoration: none;
    display: inline-block;
}